*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

 }
 .html{
  scroll-behavior: smooth;
 }
 #navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0 ;
    
 }
 #id{
    margin: px 6px;
 }
 #id img{
    margin: 1px 80px;
    height: 56px;
    width: 53px;
    border-radius: 10px;
 }
 #navbar ul{
    display: flex;
   font-family: "Balsamiq Sans", sans-serif;
 }
#navbar::before{
    content: " ";
    background-color :black;
    top:0px;
    left: 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
   
}
 #navbar ul,li{
    list-style-type:none;

 }
 #navbar ul li a{
    color: white;
    display: block;
    padding: 4px 19px;
    border-radius: 20px;
    text-decoration: none;
 }
 #navbar ul li a:hover{
    color: black;
    background-color: white;
 }

 /*home section*/
 #Home{
   display: flex;
   flex-direction: column;
   height: 670px;
   justify-content: center;
   align-items: center;
 }

 #Home::before{
   content: " ";
    background :url('bg.jpg') no-repeat center center/ cover;
    position: absolute;
    height: 800px;
    top:0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
   
 }
 #Home h1{

   color: white;
   text-align: center;
   font-family: "Balsamiq Sans", sans-serif;
   font-size: 4.6rem;
 }
 #Home p{

   color: white;
   text-align: center;
   font-family: "Balsamiq Sans", sans-serif;
 }
 /*services section*/
 #services{
   margin: 37px 20px;
   display: flex;
 }
 #services .box{
   border: 2px solid brown;
   border-radius: 20px;
   margin: 3px;
 
 }
 #services .box img{
   display: block;
   margin: auto;
    height: 150px;
 }
 #services .box p{
   margin: 8px;
 }

 #clients{
  margin: 22px;
   display: flex;
   justify-content: center;
   align-items: center;
  
 }
 #clients  div img{
  
   height: 120px;
   width: 120px;
 }
 #clients .Microsoft img{
   padding: 12px;
   height: 75px;
   width: 75px;
 }
 #clients .hm img{
   padding: 12px;
   height: 75px;
   width: 75px;
 }
 #client-section::before{
   content: "";
   position: absolute;
   background: url('bck.jpg')no-repeat center center/ cover;
   width: 100%;
   height: 35%;
   z-index: -1;
   opacity: 0.4;
}

#contact{
  position: relative;
  /* overflow: hidden; */
}
#contact h1{
  margin: 50px;
}

 #contact::before{
  content: "";
  position: absolute;
  background: url('contact.jpg')  no-repeat center center/ cover;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.4;
}
/* footer section*/
footer{
  background: black;
  color: white;
  padding:  10px 20px;
}
#c-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 34px ;
 }
#c-box textarea,
#c-box  input{
  width: 100%; 
  padding: 0.5rem;
  margin-bottom: 10px;
  border-radius: 9px;
}
.form-group{
  width: 25%;
}
.form-group label{
  font-size: 1.3rem;
  font-family:  "Balsamiq Sans", sans-serif;
} 
.h-primary{
  font-size: 2.8rem;  
  border-radius: 20px;
  margin: 3px;
  padding: 12px;
  font-family: "Balsamiq Sans", sans-serif;
}
.h-secondary{
  font-size: 2.2rem;
  padding: 12px;
  font-family: "Balsamiq Sans", sans-serif;
}
 
 .btn{
   padding: 6px 20px;
   border: 2px solid white;
   background-color: brown;
   color: wheat;
   margin: 50px;
   font-size: 2.2rem;
   border-radius: 24px;
   cursor: pointer;
 
 }
 /* .btn a:link{
  text-decoration: none;
  color: inherit;
 } */
 .center{
   text-align: center;
   /* margin: 24px;  */
 }
 .btn a{
  text-decoration: none;
  color: inherit;

}


